h1{
    width: 370px;
    color: black;
    text-align: center;
    border: 7px solid white;
    background-color: white;
    
    }
p{
    width: 370px;
    color: red;
    text-align: center;
    border: 7px solid black;
    background-color: black;
}
